.footer {
  display: grid;
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  padding: 16px 24px;
  border-radius: 32px;
  backdrop-filter: blur(10px);
  gap: 4px;
}

.footer span {
  font-size: 14px;
  color: #09f;
  padding-left: 2px;
}


.footer h4, .footer h5 {
  margin: 0;
  display: flex;
  align-items: center;
}